<html>
    <head>
        <link rel="stylesheet" href="https://github.githubassets.com/assets/light-0946cdc16f15.css"/>
        <link rel="stylesheet" href="https://github.githubassets.com/assets/color-modes-contrast-55dbfcae56ba.css"/>
        <link rel="stylesheet" href="https://github.githubassets.com/assets/primer-489656187993.css"/>
        <link rel="stylesheet" href="https://github.githubassets.com/assets/global-8f2b2d4c7aff.css"/>
        <link rel="stylesheet" href="https://github.githubassets.com/assets/github-cec71f055b16.css"/>
        <link rel="stylesheet" href="https://github.githubassets.com/assets/code-eb757dedf4a1.css"/>
        <script crossorigin="anonymous" defer="defer" type="application/javascript" src="https://github.githubassets.com/assets/vendors-node_modules_fzy_js_index_js-node_modules_github_markdown-toolbar-element_dist_index_js-e3de700a4c9d.js"></script>
        <script crossorigin="anonymous" defer="defer" type="application/javascript" src="https://github.githubassets.com/assets/vendors-node_modules_github_paste-markdown_dist_index_esm_js-node_modules_github_quote-select-1bdbba-dd6debfb8eb8.js"></script>
    </head>
    <body>
        <div id="readme" class="Box-body readme blob js-code-block-container p-5 p-xl-6 gist-border-0">
            <article class="markdown-body entry-content container-lg" itemprop="text">
                {{.Content}}
            </article>
        </div>
    </body>
</html>

